.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.selectAllButton {
  color: rgb(30, 126, 223);
  cursor: pointer;
}

.deleteSelectedButton {
  color: rgb(255, 84, 84);
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ordersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
