.mainTableDivItem {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20px;
}
.itemContent {
  display: grid;
  grid-template-columns: 600px 75px 30fr;
}
.itemCountValue {
  width: 50px;
}
